@font-face {
    font-family: 'AvertaStd';
    src: url('AvertaStd-Regular.woff2') format('woff2'),
        url('AvertaStd-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AvertaStd-RegularItalic';
    src: url('AvertaStd-RegularItalic.woff2') format('woff2'),
        url('AvertaStd-RegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'AvertaStd';
    src: url('AvertaStd-Semibold.woff2') format('woff2'),
        url('AvertaStd-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AvertaStd';
    src: url('AvertaStd-SemiboldItalic.woff2') format('woff2'),
        url('AvertaStd-SemiboldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'AvertaStd';
    src: url('AvertaStd-Black.woff2') format('woff2'),
        url('AvertaStd-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AvertaStd';
    src: url('AvertaStd-Thin.woff2') format('woff2'),
        url('AvertaStd-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AvertaStd';
    src: url('AvertaStd-ThinItalic.woff2') format('woff2'),
        url('AvertaStd-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'AvertaStd';
    src: url('AvertaStd-BlackItalic.woff2') format('woff2'),
        url('AvertaStd-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'AvertaStd';
    src: url('AvertaStd-ExtraBold.woff2') format('woff2'),
        url('AvertaStd-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AvertaStd-Extrathin';
    src: url('AvertaStd-Extrathin.woff2') format('woff2'),
        url('AvertaStd-Extrathin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AvertaStd-ExtrathinItalic';
    src: url('AvertaStd-ExtrathinItalic.woff2') format('woff2'),
        url('AvertaStd-ExtrathinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'AvertaStd';
    src: url('AvertaStd-ExtraBoldItalic.woff2') format('woff2'),
        url('AvertaStd-ExtraBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'AvertaStd';
    src: url('AvertaStd-BoldItalic.woff2') format('woff2'),
        url('AvertaStd-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'AvertaStd';
    src: url('AvertaStd-Bold.woff2') format('woff2'),
        url('AvertaStd-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AvertaStd';
    src: url('AvertaStd-Light.woff2') format('woff2'),
        url('AvertaStd-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bw Vivant ExtLt';
    src: url('BwVivant-Thin.woff2') format('woff2'),
        url('BwVivant-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bai Jamjuree';
    src: url('BaiJamjuree-Bold.woff2') format('woff2'),
        url('BaiJamjuree-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'bw-vivant-light';
    src: url('394db509f3175886b6adbe80f975df65.woff2') format('woff2'),
        url('394db509f3175886b6adbe80f975df65.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bw Vivant Med';
    src: url('BwVivant-Medium.woff2') format('woff2'),
        url('BwVivant-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'bw-vivant';
    src: url('bwvivantblack-bwvivantblack.woff2') format('woff2'),
        url('bwvivantblack-bwvivantblack.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bai Jamjuree';
    src: url('BaiJamjuree-BoldItalic.woff2') format('woff2'),
        url('BaiJamjuree-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Bai Jamjuree';
    src: url('BaiJamjuree-ExtraLight.woff2') format('woff2'),
        url('BaiJamjuree-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Authentic';
    src: url('Authentic-Signature.eot');
    src: url('Authentic-Signature.eot?#iefix') format('embedded-opentype'),
        url('Authentic-Signature.woff2') format('woff2'),
        url('Authentic-Signature.woff') format('woff'),
        url('Authentic-Signature.ttf') format('truetype'),
        url('Authentic-Signature.svg#Authentic-Signature') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



@font-face {
    font-family: 'Bw Vivant Thin Skinny';
    src: url('BwVivant-Skinny.woff2') format('woff2'),
        url('BwVivant-Skinny.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bai Jamjuree';
    src: url('BaiJamjuree-Medium.woff2') format('woff2'),
        url('BaiJamjuree-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bai Jamjuree';
    src: url('BaiJamjuree-MediumItalic.woff2') format('woff2'),
        url('BaiJamjuree-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Bai Jamjuree';
    src: url('BaiJamjuree-Italic.woff2') format('woff2'),
        url('BaiJamjuree-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Bai Jamjuree';
    src: url('BaiJamjuree-LightItalic.woff2') format('woff2'),
        url('BaiJamjuree-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Bai Jamjuree';
    src: url('BaiJamjuree-ExtraLightItalic.woff2') format('woff2'),
        url('BaiJamjuree-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Bai Jamjuree';
    src: url('BaiJamjuree-Light.woff2') format('woff2'),
        url('BaiJamjuree-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bai Jamjuree';
    src: url('BaiJamjuree-SemiBoldItalic.woff2') format('woff2'),
        url('BaiJamjuree-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'bw-vivant';
    src: url('BwVivant-bwvivantblack.woff2') format('woff2'),
        url('BwVivant-bwvivantblack.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bai Jamjuree';
    src: url('BaiJamjuree-SemiBold.woff2') format('woff2'),
        url('BaiJamjuree-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bai Jamjuree';
    src: url('BaiJamjuree-Regular.woff2') format('woff2'),
        url('BaiJamjuree-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: '';
    src: url('b89d581472bc1bedd04cf1415f98771b.woff2') format('woff2'),
        url('b89d581472bc1bedd04cf1415f98771b.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'bw-vivant';
    src: url('bwvivantblack-bwvivantblack.woff2') format('woff2'),
        url('bwvivantblack-bwvivantblack.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bw Vivant Med';
    src: url('BwVivant-Medium.woff2') format('woff2'),
        url('BwVivant-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bw Vivant Thin Skinny';
    src: url('BwVivant-Skinny.woff2') format('woff2'),
        url('BwVivant-Skinny.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bw Vivant ExtLt';
    src: url('BwVivant-Thin.woff2') format('woff2'),
        url('BwVivant-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'bw-vivant';
    src: url('BwVivant-bwvivantblack.woff2') format('woff2'),
        url('BwVivant-bwvivantblack.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'bw-vivant';
    src: url('Unnamed-bwvivantregular.woff2') format('woff2'),
        url('Unnamed-bwvivantregular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Old Standard TT';
    src: url('OldStandardTT-Italic.woff2') format('woff2'),
        url('OldStandardTT-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Old Standard TT';
    src: url('OldStandardTT-Bold.woff2') format('woff2'),
        url('OldStandardTT-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Old Standard TT';
    src: url('OldStandardTT-Regular.woff2') format('woff2'),
        url('OldStandardTT-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Just Lovely Slanted';
    src: url('JustLovelySlanted.eot');
    src: local('Just Lovely Slanted'), local('JustLovelySlanted'),
        url('JustLovelySlanted.eot?#iefix') format('embedded-opentype'),
        url('JustLovelySlanted.woff2') format('woff2'),
        url('JustLovelySlanted.woff') format('woff'),
        url('JustLovelySlanted.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Just Lovely Slanted Wide';
    src: url('JustLovelySlantedWide.eot');
    src: local('Just Lovely Slanted Wide'), local('JustLovelySlantedWide'),
        url('JustLovelySlantedWide.eot?#iefix') format('embedded-opentype'),
        url('JustLovelySlantedWide.woff2') format('woff2'),
        url('JustLovelySlantedWide.woff') format('woff'),
        url('JustLovelySlantedWide.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Just Lovely Extras';
    src: url('JustLovelyExtras.eot');
    src: local('Just Lovely Extras'), local('JustLovelyExtras'),
        url('JustLovelyExtras.eot?#iefix') format('embedded-opentype'),
        url('JustLovelyExtras.woff2') format('woff2'),
        url('JustLovelyExtras.woff') format('woff'),
        url('JustLovelyExtras.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Just Lovely';
    src: url('JustLovely.eot');
    src: local('Just Lovely'), local('JustLovely'),
        url('JustLovely.eot?#iefix') format('embedded-opentype'),
        url('JustLovely.woff2') format('woff2'),
        url('JustLovely.woff') format('woff'),
        url('JustLovely.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

