@media (max-width:1770px){
  
    
    .quotebox h4 {
        font-size: 22px;
    }
    
    .quotebox p {
        margin: 0;
        font-size: 19px;
        line-height: 26px;
    }
    
    .tabs ul li a {
        padding-right: 35px;
        margin-right: 35px;
        font-size: 14px;
        line-height: 20px;
    }
    .toplinks li {
        margin: 0;
    }
    .mdquote h4 {
        font-size: 34px;
        line-height: 42px;
    }
    
    .mdquote h6 {
        font-size: 13px;
        line-height: 18px;
    }
    
    .mdquote h5, .value1 {
        font-size: 15px;
        line-height: 20px;
    }
    
    body {
        font-size: 14px;
        line-height: 26px;
        letter-spacing: 0.5px;
    }
    
    .labelcont {
        font-size: 13px;
        line-height: 20px;
    }
    .infracont h4, .infracont h3, .projleft h4{
        font-size: 21px;
    }
    .countnum {
        font-size: 60px;
        line-height: 50px;
    }
    
    .infraheading h2 {
        font-size: 30px;
    }
    
    .mdquote h4:before, .mdquote h3:before {
        width: 350px;
        height: 350px;
    }
    
    .jslidercont p {
        font-size: 15px;
        line-height: 20px;
    }
    
    .leadershipcont h2 {
        font-size: 16px;
        line-height: 20px;
    }
    
    .leadershipcont span {
        font-size: 12px;
        line-height: 16px;
    }
    .infrastructure .infracont p, .leadershipbox {
        margin-bottom: 15px;
    }

.toplinks .smenu li a {
    font-size: 15px;
}
.purpose p {
    font-size: 19px;
    line-height: 28px;
}
.socialdesp li, .socialdesp .email li {
    margin: 0;
    padding: 0;
}

.socialdesp .email li:before {
    height: 2px;
    width: 20px;
}

.socialdesp li span strong {
    margin: 0;
}
.value {
    width: 80%;
}
.ftrlogo:after{
    height: 93%;
}
.footerrow:after {
    top: 42%;
}
.footer:before {
    bottom: 32%;
}
    }
    @media (max-width:1600px){
        .purpose p, .infracont h4, .infracont h3, .projleft h4, .nriaccordian .accordion .accordion-item .title {
            font-size: 19px;
            line-height: 28px;
        }
        .corefeature h5, .infotitle h5 {
            font-size: 18px;
        }
        
        .infracont.gredientbox {
            padding: 100px 0;
        }
        
        .preinfo ul li {
            font-size: 14px;
        }
        
        .typesmodule .infracenter:nth-child(even) .preinfo {
            padding-right: 5%;
            width: 100%;
        }
        
        .infotitle {
            padding: 5px;
        }
        
        .moduleinfo {
            width: 100%;
            margin-bottom: 0;
            margin-left: 0;
        }
        
        .moduleinfo h4 {
            font-size: 18px;
            margin: 5px 0;
        }
        
        .moduleinfo p {
            line-height: 20px;
        }
        
        .certificationtick ul li {
            font-size: 17px;
            line-height: 20px;
        }
        
        .certificationtick ul {
            width: 90%;
            margin-left: 5%;
        }
        
        .certifications h5 {
            font-size: 20px;
            padding: 0 100px;
        }
        .navbar {
            padding-top: 50px;
        }
        
        .toplinks li {
            padding: 0 15px 25px;
        }
        
        .producthimg img {
            width: 320px;
            height: 320px;
        }
        
        .productcont p {
            line-height: 22px;
        }
        
        h3, .heading2 {
            font-size: 45px;
            line-height: 50px;
        }
        
        .productcont h4 {
            font-size: 16px;
            letter-spacing: 2px;
        }
        
        .powerplant h4 {
            font-size: 30px;
            line-height: 50px;
        }
        
        .powerplant {
            max-width: 700px;
            padding: 50px;
        }
        .tabs ul li a {
            padding-right: 30px;
            margin-right: 30px;
        }
        
        .countnum {
            font-size: 50px;
            line-height: 40px;
        }
        
        .infraheading h2 {
            font-size: 26px;
            line-height: 38px;
        }
        
        .infracont p strong {
            font-size: 16px;
            line-height: 20px;
        }
        
        .ethoscont .col-md-6 p, .ethoscont .col-md-6 ul li {
            font-size: 16px;
            line-height: 22px;
        }
        
        .ethoscont .col-md-6 ul li {
            padding: 10px 0;
        }
        
        .ethosbanner {
            height: auto;
        }
        .accordion .accordion-item .title {
            padding: 8px 10px;
            font-size: 14px;
        }
        
        .accordion .accordion-item .title:after {
            font-size: 32px;
        }
        
        .projleft p {
            font-size: 10px;
        }
        
        .projright h4 {
            font-size: 21px;
        }
        .social:nth-child(4) h5 {
            margin-bottom: 15px;
            margin-top: 15px;
        }
        
        .footerrow:after, .footer:before {
            top: 41%;
        }
        
        
        .footer:before {
            bottom: 32%;
            top: inherit;
        }
        .preinfo {
            padding-left: 5%;
            width: 100%;
        }
    }
    @media (max-width:1440px){
        .toplinks li {
            padding: 0 10px 22px;
        }
        .packdetails h4 {
            font-size: 17px;
        }
        
        .packdetails ul li span {
            padding: 8px;
            font-size: 16px;
            letter-spacing: 0;
        }
        
        .infracont .warrantybox h4 {
            font-size: 15px;
            line-height: 17px;
        }
        
        .infracont .warrantybox h3 {
            font-size: 40px;
            line-height: 40px;
        }
        
        .warrantybox {
            padding: 5px;
        }
        .togmenu ul li a, .toplinks li a, .toplinks li span, .togmenu ul li span {
            letter-spacing: 4px;
        }
        
        .homcolft h2 {
            font-size: 50px;
            line-height: 50px;
        }
        
        h1 {
            font-size: 44px;
            line-height: 44px;
        }
        
        .title {
            margin-bottom: 30px;
        }
        
        .title h2, .title h1, .infragallery ul li {
            font-size: 14px;
        }
        
        .productstn {
            width: 100%;
        }
        
        .proimg {
            width: 45%;
        }
        
        .proimg h4 {font-size: 11px;letter-spacing: 2px;}
        
        .powerplant h4 {
            font-size: 24px;
            line-height: 40px;
        }
        
        .quotebox p {
            font-size: 18px;
            line-height: 24px;
        }
        
        .quotebox {
            padding: 50px;
        }
        .tabs ul li a {
            font-size: 13px;
            letter-spacing: 1.5px;
            white-space: nowrap;
        }
        .leadershipcont h2 {
            font-size: 14px;
            line-height: 18px;
        }
        
        .leadershipcont span {
            font-size: 11px;
            line-height: 16px;
            float: left;
            margin-top: 5px;
        }
        .count {
            padding: 40px 0;
        }
        
        .infraheading h2 {
            font-size: 24px;
            line-height: 35px;
        }
        
        .infracont p strong {
            font-size: 14px;
            line-height: 22px;
            float: left;
        }
        
        .mdquote h4:before, .mdquote h3:before {
            width: 300px;
            height: 300px;
        }
        
        .purpose p {
            font-size: 16px;
            line-height: 22px;
        }
        
        .jsliderimg h4 {
            font-size: 32px;
            line-height: 40px;
        }
        
        .leaderships {
            margin: 25px auto;
            width: 90%;
        }
        
        .infracont h4, .infracont h3 {
            font-size: 17px;
            line-height: 24px;
        }
        
        .title {
            margin-bottom: 30px;
        }
        
        .productstn {
            width: 100%;
        }
        
        .proimg h4 {font-size: 11px;letter-spacing: 2px;}
        
        .powerplant h4 {
            font-size: 24px;
            line-height: 40px;
        }
        
        .quotebox p {
            font-size: 18px;
            line-height: 24px;
        }
        
        
        
        .infraheading h2 {
            font-size: 24px;
            line-height: 35px;
        }
        
        .infracont p strong {
            font-size: 14px;
            line-height: 22px;
            float: left;
        }
        
        .jsliderimg h4 {
            font-size: 32px;
            line-height: 40px;
        }
        
        .leaderships {
            margin: 25px auto;
            width: 90%;
        }
        
        .infracont h4, .infracont h3 {
            font-size: 17px;
            line-height: 24px;
        }
        
        .specification {
            width: 80%;
        }
        
        .ftrlogo img {
            width: 80%;
        }
        
        .socialdesp li a {
            font-size: 12px;
        }
        #Solar .infracont {
            max-height: inherit;
        }
        
        body {
            font-size: 13px;
            line-height: 24px;
            letter-spacing: 0.4px;
        }
        
        .aboutstn, .gallery, .leaderships, .techspecification, .nriaccordian, .contactus, .leadership, .numbers, .journeyslider, #our-journey, .ethosbanner, .our-ethos, .infragallery, #infrastructure, section, .numberbanner, .count, .technologybanner, footer, .footer, .mdquote, .infrabox {
            padding: 50px 0;
        }
        .footer {
            padding-bottom: 0;
        }
        
.accordion-item {
    margin-bottom: 10px;
}
.toplinks .smenu li a {
    font-size: 14px;
    padding: 10px 0;
}
.address p, .socialdesp li p {
    font-size: 12px;
    line-height: 20px;
}

.sitemapbox ul li, .copyrights ul li a, .copyrights ul li {
    font-size: 11px;
}
.toplinks li a:before {
    bottom: -4px;
}
.toplinks .smenu li a:before {
    width: 25px;
    height: 1px;
}

.submenuchild {
    padding: 25px 0;
}
.socialicon {
    margin-bottom: 0;
    padding-bottom: 0;
    height: 80px;
}

.footerrow:before {
    top: 13.6%;
}

.logo img {
    width: 180px;
}
.sitemapbox h5 {
    font-size: 13px;
}
.quotebox {
    width: 30%;
}
.socialdesp {float: left;}

[class^=btn-] {
    height: 45px;
    width: 125px;
}

.btn-4 span {
    font-size: 11px;
    letter-spacing: 1.5px;
}

.largecircleleft, .largecircleright {
    width: 320px;
    height: 320px;
}

.abtinfra .largecircleleft {
    top: -1.5%;
}

#service .largecircleleft, #Solar .largecircleleft {
    top: -40px;
}

.form li input[type="tel"], .form li input[type="email"], .form li input[type="text"] {font-size: 13px;height: 45px;}

.nriaccordian .accordion .accordion-item .title {font-size: 16px;line-height: 24px;}
.slick-slider button.slick-arrow.slick-prev, .slick-slider button.slick-arrow.slick-next {
    width: 24px;
}
.ftrlogo:after {
    height: 92%;
}
.grievancebox {
    width: 30%;
}
.formstn{
    width: 80%;
}
.grievanceform ul li span {
    font-size: 11px;
}

.address h4 {
    font-size: 21px;
}
.react-tabs__tab-panel iframe{
    height: 450px;
}
.subhead {
    font-size: 19px;
    line-height: 30px;
}
    }
    @media (max-width:1380px){
        .infracont .warrantybox h4 {
            font-size: 13px;
            line-height: 15px;
        }
        
        .infracont .warrantybox h3 {
            font-size: 34px;
            line-height: 40px;
        }
        
        .warrantybox {
            padding: 3px;
        }
        .subhead {
            font-size: 17px;
        }
        
        .infracont.gredientbox {
            padding: 60px 0;
        }
        
        .corefeature ul li {
            font-size: 12px;
        }
        
        .infracont h4, .infracont h3 {
            font-size: 14px;
        }
        
        .corefeature h5, .infotitle h5 {
            font-size: 16px;
        }
        
        .preinfo ul li {
            font-size: 13px;
            padding-top: 3px;
        }
        
        .moduleinfo img {
            width: 60px;
        }
        
        .moduleinfo h4 {
            font-size: 16px;
        }
        
        .certificationtick ul li {
            font-size: 15px;
            line-height: 18px;
        }
        
        .certificationtick ul li:before {
            width: 30px;
            height: 25px;
        }
        
        .certifications h5 {
            margin-top: 25px;
            font-size: 16px;
            padding: 0;
        }
        
        .certifications {
            padding: 50px 0;
        }
        
        .infracenter:last-child {
            margin: 0;
        }
        .grievancebox h3 {
            font-size: 21px;
        }
        .infragallery ul{
            margin-bottom: 30px;
        }
        .infragallery ul li {
            padding: 0 15px;
            margin: 0 15px;
            padding-bottom: 5px;
        }
        .grievanceform h3 {
            font-size: 28px;
        }
        
        .grievanceform ul li input, .form li input[type="tel"], .form li input[type="email"], .form li input[type="text"], .grievanceform ul li select {
            height: 40px;
        }
        
        .grievanceform ul li {
            margin-bottom: 25px;
        }
        .premierenergies {
            width: 100%;
        }
        .slick-slider button.slick-arrow.slick-prev, .slick-slider button.slick-arrow.slick-next {
            width: 20px;
        }
        .togmenu ul li a, .toplinks li a, .toplinks li span {
            letter-spacing: 3px;
            font-size: 10px;
        }
        
        .submenu {
            top: 15.9%;
        }
        
        .toplinks li:hover .submenu {
            height: 300px;
        }
        
        .toplinks .smenu li a {
            padding: 5px 0;
            font-size: 12px;
        }
        
        .toplinks .smenu li a:before {
            width: 20px;
        }
        
        .simg {
            width: 40%;
        }
        
        .simg img {
            width: 100%;
        }
        
        .colorborder em:before {
            width: 60px;
            height: 5px;
        }
        
        .colorborder:before {
            width: 100px;
            height: 5px;
        }
        
        .colorborder:after {
            left: 100px;
            height: 5px;
            border-top: 5px solid #2461ac;
        }
        
        .homcolft h2 {
            font-size: 44px;
            line-height: 44px;
            padding-top: 15px;
        }
        
        .jslider::after {
            width: 80px;
            height: 18px;
            background-size: cover;
        }
        
        .midcircleright {
            width: 50px;
            height: 50px;
        }
        
        .smallcirclerightdarkleft, .smallcirclerightdark {
            width: 8px;
            height: 8px;
        }
        
        .largecircleleft, .largecircleright {
            width: 260px;
            height: 260px;
        }
        
        .title h2, .title h1, .infragallery ul li {
            padding-top: 14px;
            font-size: 11px;
            letter-spacing: 3px;
        }
        .infragallery ul li{
            padding-top: 0;
        }
        
        h1 {
            font-size: 38px;
            line-height: 38px;
        }
        
        .videostn video, .videostn numberbanner {
            width: 100%;
            height: 100%;
        }
        
        h3, .heading2 {
            font-size: 36px;
            line-height: 40px;
        }
        
        .producthimg img {
            width: 280px;
            height: 280px;
        }
        
        .productcont h4 {
            font-size: 14px;
            letter-spacing: 1px;
            margin: 25px  0 5px 0;
        }
        [class^=btn-] {
            width: 110px;
            height: 40px;
            margin-top: 35px;
        }
        
        .btn-4 span {
            font-size: 10px;
        }
        .labelcont {
            font-size: 11px;
            line-height: 17px;
        }
        
        .productcont p {line-height: 20px;}
        
        .quotebox h4 {
            font-size: 19px;
        }
        
        .quotebox p {
            font-size: 16px;
            line-height: 22px;
        }
        
        .quotebox {
            height: 220px;
            padding-bottom: 0;
            padding-left: 30px;
            padding-right: 20px;
        }        
        .socialdesp h5 {
            font-size: 13px;
            line-height: 20px;
        }
        
        .socialdesp .email li {
            font-size: 12px;
            line-height: 18px;
            padding-bottom: 5px;
            margin-bottom: 5px;
        }
        
        .socialdesp .email li:before {
            width: 30px;
        }
        
        .socialdesp li a {
            font-size: 11px;
            line-height: 22px;
        }
        .sitemapbox h5 {
            font-size: 11px;
            line-height: 20px;
            margin-bottom:5px;
        }
        
        .sitemapbox ul li, .copyrights ul li a, .copyrights ul li {
            font-size: 10px;
        }
        
        .ftrlogo img {
            width: 65%;
        }
        .socialdesp li p, .address p {
            font-size: 11px;
            line-height: 18px;
            padding-right: 0;
        }
        
        .tabs ul li a {
            font-size: 12px;
        }
        .tabs ul {
            border-bottom: solid 2px #2461ac;
        }

.infraheading {
    width: 90%;
}
        .tabs {
            margin-bottom: 40px;
        }
        
        .tabmain {
            min-height: 100px;
        }
        
        .mdquote h4 {
            font-size: 28px;
            line-height: 34px;
        }
        
        .mdquote h5, .value1 {
            font-size: 14px;
        }
        
        .mdquote h6 {
            font-size: 12px;
        }
        
        .purpose p {
            font-size: 14px;
            line-height: 20px;
        }
        .ethoscont .col-md-6 p, .ethoscont .col-md-6 ul li {
            font-size: 14px;
            line-height: 20px;
        }
        
        .jslidercont p {
            font-size: 12px;
            line-height: 16px;
        }
        
        .leadershipcont h2 {
            font-size: 13px;
            line-height: 16px;
        }
        
        .leadershipcont span {
            font-size: 10px;
        }
        
        .leadershipcont .btn-4 {
            width: 100px;
            height: 38px;
        }
        
        .leadershipcont .webbtn .btn-4 span {
            font-size: 10px;
        }
        
        .webbtn.leadershipalign .btn-4 {
            min-width: 200px;
        }
        
        .infrastructure .infracont p, .leadershipbox {
            line-height: 22px;
        }
        
        .specification {
            width: 70%;
        }
        
        .download {
            width: 20px;
            height: 20px;
        }
        
        .specifibox {
            height: 40px;
            margin-bottom: 10px;
        }
        
        .projleft h4 {
            font-size: 16px;
            line-height: 20px;
        }
        
        .infrastructure p {
            width: 70%;
        }
        
        .infraheading {
            margin-bottom: 30px;
        }
        
        .form li input[type="tel"], .form li input[type="email"], .form li input[type="text"] {
            height: 40px;
        }

.nriaccordian .accordion .accordion-item .title {
    padding: 5px 0;
    font-size: 14px;
}

.accordion .accordion-item .title:after {
    font-size: 29px;
}

.hemburgur {
    width: 30px;
    height: 30px;
    padding: 0;
    margin-left: 0;
}

.hemburgur span {
    height: 1px;
}
.accordion-item {
    height: 35px;
}

.nriaccordian .accordion-item {
    margin-bottom: 10px;
}
.togmenu, .menuslide {
    height: 35px;
}

.menuslide {
    top: 17%;
}
.lifeatpremier {
    padding-top: 40px;
}

.slick-dots li button {
    width: 6px;
    height: 6px;
}

.slick-dots li {
    margin-right: 5px;
}

.slick-dots {
    margin-top: 15px;
}
.footerrow:before {
    top: 14.4%;
}
.socialdesp ul.newaddress li span strong {
    margin-bottom: 6px;
    font-size: 12px;
    line-height: 16px;
}
.socialdesp li a img {
    width: 20px;
    height: 20px;
    margin-right: 8px;
}
.socialicon img {
    width: 35px;
}
.footer:before{
    top:inherit
}
.sitemapbox ul li {
    line-height: 20px;
    font-size: 9px;
}
.tabs.fixed {
    top: 10vh;
}
.content {
    margin-bottom: 50px;
}
.certificationimg img {
    width: 250px;
}

.certificationtick ul {
    margin-bottom: 0;
}
.packdetails ul li span {
    padding: 6px;
    font-size: 14px;
    line-height: 20px;
}

.packdetails h4 {
    font-size: 16px;
    line-height: 36px;
}
    }
    @media (max-width:1280px){
        .formstn {
            width: 90%;
        }
        .preinfo ul li {
            padding-right: 20px;
        }
        .quotebox p {
            font-size: 15px;
            line-height: 20px;
        }
        .tabs.fixed {
            top: 8vh;
        }
        .footerrow:after {
            top: 42%;
        }
        .powerplant {
            padding-bottom: 10px;
        }
        
        .submenu {
            top: 104px;
        }
        
        .tabs {
            width: 85%;
        }
        
        .tabs ul li a {
            padding-right: 25px;
            margin-right: 25px;
        }
        
        .mdquote {padding: 25px 0;}
        
        .mdquote h4:before, .mdquote h3:before {
            width: 220px;
            height: 220px;
        }
        
        .countnum {
            font-size: 40px;
            line-height: 36px;
        }
        
        .infraheading h2 {
            font-size: 21px;
        }
        
        h3, .heading2 {margin-bottom: 25px;}
        
        .aboutstn, .gallery, .leaderships, .techspecification, .nriaccordian, .contactus, .leadership, .numbers, .journeyslider, #our-journey, .ethosbanner, .our-ethos, .infragallery, #infrastructure, section, .numberbanner, .count, .technologybanner, footer, .footer, .mdquote, .infrabox {
            padding: 35px 0;
        }
        
        .ftrlogo:after {
            height: 89.9%;
        }
        
        .footer {
            padding-bottom: 0;
        }
        
        .specification {
            width: 80%;
        }
        
        .infracont h4, .infracont h3 {
            margin-bottom: 0;
            font-size: 13px;
            line-height: 20px;
        }
        .infotitle{
            margin-bottom: 5px;
        }
        .infrastructure .infracont p {
            margin-bottom: 5px;
        }
        .menuslide, .togmenu {
            height: 40px;
        }
        
        .menuslide {
            top: 12%;
        }
        .App {
            margin: 0 3% 10px;
        }
        #our-journey, #infrastructure {
            overflow: hidden;
        }
        .awards p, .content, .grievancestrip {
            width: 100%;
        }
    }
    @media (max-width:1160px){
        #Solar {
            overflow: hidden;
        }
.toplinks li {
    padding: 0 5px 22px;
}   
.ftrlogo:after{
    height: 90%;
}
    }
    @media (max-width:1024px){
        .togmenu ul li a, .toplinks li a, .toplinks li span {
            letter-spacing: 2px;
        }
        
        .sftrrow.justify-content-between {
            width: 100%;
        }
        
        .socialdesp ul.newaddress li span strong {
            font-size: 10px;
            line-height: 14px;
        }
        
        .socialdesp li p, .address p {
            font-size: 10px;
            line-height: 16px;
        }
        

.logo img {
    width: 150px;
}

.fixed .logo img {
    width: 140px;
}
        .footerrow:after {
            top: 44%;
        }

        .count {
            padding: 0;
        }
        .toplinks li {
            margin: 0;
        }
        .countnum {
            font-size: 30px;
            line-height: 40px;
        }
        
        .labelcont {
            font-size: 10px;
            line-height: 17px;
        }
        .tabs ul li a {
            padding-right: 12px;
            margin-right: 12px;
            white-space: nowrap;
        }
        
        .overview {
            width: 70%;
        }
        
        .leadershipimg img {
            height: 200px;
        }
        
        .col-md-12.ethoscont, .careerbox, .specification {
            width: 100%;
        }
        .homcolft h2 {
            font-size: 34px;
            line-height: 40px;
            padding-top: 8px;
        }
        .infracenter {
            width: 100%;
        }
        .infracont.gredientbox .row {
            right: 10%;
        }
        .packdetails {
            width: 100%;
        }
        .qualitytest {
            width: 100%;
            margin: 20px 0;
        }
        
        .qualityhead h4 {
            font-size: 22px;
            line-height: 40px;
            margin: 0;
        }
        
        .qualitylogo {
            margin-top: 15px;
        }
        
        .qualitylogo ul {
            padding: 5px;
        }
        
        .certificationtick ul li {
            font-size: 14px;
            line-height: 16px;
        }
        
        .certificationtick ul {
            width: 100%;
            margin: 0;
        }
    }
    @media (max-width:990px){
        .mdquote h4:before, .mdquote h3:before {
            width: 180px;
            height: 180px;
        }
        
        .value, .infracont, .ethoscont .col-md-6 p {
            width: 100%;
        }    
        .toplinks li {
            margin: 0;
            padding-left: 8px;
            padding-right: 8px;
        }
        .fixed .logo img {
            width: 120px;
        }
        .navbar {
            width: 100%;
        }
        .socialicon {
            height: 50px;
        }
        .footer:before{
            opacity: 0;
        }
        .menus ul {
            width: 100%;
            float: left;
        }
        
        .largecircleleft, .largecircleright {
            width: 220px;
            height: 220px;
        }
        
        .midcircleright {
            width: 30px;
            height: 30px;
        }
        
        .aboutstn {
            width: 100%;
            margin: 0;
            padding: 0;
        }
        
        .aboutcont, .aboutslider {
            width: 46%;
        }
        
        .countnum {
            font-size: 32px;
            line-height: 40px;
        }
        
        .labelcont {
            margin-top: 5px;
        }
        
        .web-container {
            width: 90%;
        }
        
        .productsbox {
            width: 100%;
        }
        
        .productcont {
            width: 40%;
            margin: 0 5%;
        }
        
        .midcircleleft {
            width: 50px;
            height: 50px;
        }
        .epcrow:before {
            z-index: 1;
        }
        
        .epc-img {
            z-index: 2;
        }

.footerrow:before {
    top: 19%;
}

.powerplant {
    margin-top: 0;
}
.footerrow:after {
    top: 58%;
}

.products {
    overflow: hidden;
}
.numbers::before, .products:before {
    width: 80px;
    height: 80px;
}  
.numbers::before, .products:before {
    width: 80px;
    height: 80px;
}

.togmenu ul li a, .toplinks li span, .togmenu ul li span {
    font-size: 9px;
    color: #fff;
}
.toplinks li a {
    font-size: 8px;
    letter-spacing: 2px;
}
.logo img {
    width: 150px;
}

.navbar {
    padding-top: 25px;
}

.col-4.d-flex.align-items-center {
    width: 25%;
}

.col-8.a-center.d-flex.align-items-end.justify-content-end {
    width: 75%;
}


.App:before {
    right: -5%;
}

.epcrow:before {
    width: 300px;
    height: 300px;
}

.epc-img img {
    top: 0;
}

.epc-img {
    width: 50%;
}

.epc-cont {
    width: 45%;
}

.infragallery ul, .title {
    margin-bottom: 20px;
}

h3, .heading2 {
    font-size: 30px;
    line-height: 40px;
}

.proimg h4 {
    font-size: 10px;
    letter-spacing: 1px;
}

.quotebox {width: 40%;margin: 0 5% 50px;}

.quote {
    flex-wrap: wrap;
    justify-content: center;
}

.ftrlogo, .ftrdescp {
    width: 100%;
}

.footerrow {
    flex-wrap: wrap;
}

.footerrow:before, .ftrlogo:after, .footerrow:after {
    opacity: 0;
} 
.largecircleleft, .largecircleright {
    width: 150px;
    height: 150px;
}

.midcircleleft, .midcircleright {
    width: 25px;
    height: 25px;
}
.jslider{
    overflow: hidden;
}

.footer .row {
    display: inline-block;
}

.ftrlogo img {
    width: 40%;
    display: inline-block;
    right: 0;
}
.social {
    width: 35%;
}
.ftrlogo {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: solid 1px #565656;
    margin-bottom: 20px;
    padding-bottom: 10px;
}
.social.full-band{
    border-bottom: solid 1px #565656;
    border-top: solid 1px #565656;
}
.tabs {
    width: 100%;
}
.tabs.fixed{
    position:inherit;
}
.tabs ul li a {
    padding-right: 18px;
    margin-right: 18px;
}

.overview, .col-md-12.ethoscont, .careerbox, .specification {
    width: 80%;
}
.react-tabs__tab-panel iframe {
    height: 350px;
}
.popimg {
    width: 90%;
}

.popdesign {
    width: 35px;
    height: 35px;
    font-size: 35px;
}
    }
    @media (max-width:800px){
        .fixed .toplinks li .hemburgur.active span{
            background-color: #fff;
        }
        .fixed .submenu, .fixed .menus.active .menuslide{
            top: 0;
        }
        .menus ul{
            padding: 0;
        }
        .desktop-show, .togmenu{
            display: none;
        }
        .mobile-show{
            display: block;
        }
        .logo {
            position: relative;
            z-index: 99;
        }
        .infra .infrabox:nth-child(even) .row .infracont .infraheading {
            float: right;
        }
.whitebg .header li .hemburgur.active span {
    background: #fff;
}
        .sftrrow.justify-content-between, .aboutstn, .gallery, .leaderships {
            width: 100%;
        }
        .tabs ul {
            flex-wrap: wrap;
        }
        .count {
            justify-content: center;
        }
        
        .socialicon {
            height: auto;
        }
        
        .ftrlogo {
            margin-bottom: 20px;
            padding-bottom: 10px;
        }
        .newaddress li, .socialdesp .newaddress li {
            width: 44%;
        }
        
        .social:nth-child(4) ul {
            flex-wrap: wrap;
        }
        
        .footer:before {
            opacity: 0;
            display: none;
        }
        .fixed .logo img {
transform: inherit;     
position: inherit;   }
        .header.fixed .logo {
            padding: 0;
        }
        .tabs ul li a {
            padding-right: 10px;
            margin-right: 10px;
        }
        .tabs.fixed {
            left: 0;
            width: 100%;
        }
        .toplinks li {
            padding-left: 7px;
            padding-right: 7px;
        }
        .homcolft h2 {
            font-size: 36px;
            line-height: 36px;
            padding-top: 15px;
        }
        .jslider .slick-dots {
            bottom: 0;
        }
        
        .menuslide {
            top: 7%;
        }
        
        .menuslide, .togmenu {
            height: 30px;
        }
        

        .producthimg img {
            width: 250px;
            height: 250px;
        }
        
        .proimg:after {
            width: 30px;
            height: 8px;
        }
        
        .proimg h4 {
            margin-bottom: 10px;
        }
        
        .productstn {
            margin-top: 0;
        }
        ul.d-flex.align-items-center.toplinks {
            justify-content: end;
        }
        
        .menuslide {
            width: 100%;
            top: 0;
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
            background: #1c1c1e;
            transform: scaleY(0);
        }
        
        .togmenu {
            width: 100%;
            padding: 0;
            float: left;
            height: auto;
        }
        .togmenu ul {
            flex-wrap: wrap;
        }
        .togmenu ul li {
            width: 100%;
            float: left;
            text-align: center;
        }
        .container {
            width: 95%;
        }
        .togmenu ul li a {
            padding: 0;
            border: none;
        }

.togmenu ul li a, .toplinks li a, .toplinks li span, .togmenu ul li span {
    font-size: 21px;
    line-height: 50px;
    font-weight: 300;
}
.col-4.d-flex.align-items-center, .toplinks li:last-child{
    position: relative;
    z-index: 99;
}

.App {
    width: 27%;
    margin-bottom: 30px;
}
#infrastructure, #our-journey {
    overflow: hidden;
}
.infraheading h2 {
    font-size: 18px;
}
.hemburgur span, .hemburgur span:nth-child(2), .hemburgur span:nth-child(3) {
    height: 5px;
    width: 5px;
}

.hemburgur span:nth-child(1) {
    top: 0;
}

.hemburgur span:nth-child(2) {
    top: 12px;
}

.hemburgur span:nth-child(3) {
    top: 25px;
}
.navbar {
    padding: 0;
    padding-right: 5px;
}
.header {
    width: 100%;
    float: left;
    padding: 20px 0;
}
.toplinks li:last-child {
    padding: 0;
}
.toplinks li a {
    font-size: 8px;
    letter-spacing: 2px;
}


.socialicon {
    height: 50px;
}

.social {
    width: 35%;
}

.toplinks li:last-child {
    padding: 0;
}
#technology, #sustainbility{
    overflow: hidden;
}
.hemburgur.active span:nth-child(1), .hemburgur.active span:nth-child(3) {
    height: 2px;
}
.infra {
    width: 100%;
    float: left;
    overflow: hidden;
}
.specifibox {
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    padding: 10px 0;
}

.value1 {
    flex-wrap: wrap;
    width: 80%;
    text-align: center;
    justify-content: center;
    margin: 0 10%;
}
.certificates ul li {
    width: 15%;
}
.value2 {
    width: 100%;
    min-width: 100%;
    margin: 10px 0;
}
.contactbox {
    padding-top: 25px;
    margin-top: 25px;
}
.journeyslider {
    width: 80%;
    margin-left: 10%;
}
.infraslider {
    margin-left: 10%;
}
.infracont {
    max-height: inherit;
}
.infrabox.divertpro .midcircleleft{
    left: 0;
}
.address h4 {
    font-size: 17px;
}

.grievanceform ul li {
    width: 40%;
}

.grievanceform ul li.width100 {
    width: 83%;
}
.mobilemene{
    position: relative;
}
.mobilemene ul li ul.megamenu, .mobilemene ul li ul.megamenus {
    position: absolute;
    top: 0;
    right: -100vw;
    background: #1c1c1e;
    bottom: 0;
    transition: ease all 0.5s;
    z-index: 9;
}
.mobilemene ul li ul.megamenu.active, .mobilemene ul li ul.megamenus.active {
    right: 0;
}
.mobilemene ul li a, .mobilemene ul li span {
    font-size: 21px;
    line-height: 50px;
    font-weight: 300;
}
.infracenter {
    margin-bottom: 50px;
}
.typesmodule .col-md-8, .typesmodule .col-md-4 {
    width: 100%;
}

.modulesrely .col-md-3.col-xs-12 {
    width: 80%;
    margin: 25px 10%;
}

.certificationtick ul li {
    width: 31%;
}
.infracont.gredientbox .row {
    right: 0;
}

.infracont.gredientbox {
    width: 100%;
}
.certifications h5 {
    font-size: 14px;
    line-height: 20px;
}
.infracont.gredientbox .row.cellalign .col-md-5, .infracont.gredientbox .col-md-7, .infracont.gredientbox .col-md-5 {
    width: 100%;
}

.corefeature {
    width: 80%;
    float: left;
}
.infrabox .infracenter .row, .typesmodule .infracenter:nth-child(even) .row {
    flex-direction: column-reverse;
}

.preinfo, .typesmodule .infracenter:nth-child(even) .preinfo {
    width: 80%;
    float: left;
    padding: 0;
    border: none;
    padding-bottom: 25px;
    margin-bottom: 25px;
    border-bottom: solid 1px rgb(243 232 232 / 50%);
}
.modulesrely .col-md-5.col-xs-12 {
    width: 70%;
}
.packdetails ul li span {
    padding: 6px;
    font-size: 14px;
    line-height: 20px;
}

.infracont .warrantybox h3 {
    color: #fff !important;
}

.infracont .warrantybox h4 {
    font-size: 19px;
    line-height: 19px;
}

.warranty {
    width: 80%;
}
    }
    @media (max-width:680px){
        .copyrights ul {
            width: 100%;
            text-align: center;
            float: left;
        }
        .corefeature h5 {
            margin: 0;
        }
        .mobilemene ul li a, .mobilemene ul li span {
            font-size: 18px;
            line-height: 40px;
        }
        .copyrights {
            flex-wrap: wrap;
            padding-bottom: 0;
            width: 100%;
            border-top: solid 1px #3e3e3e;
            padding-top: 10px;
        }
        .mobilemene ul li.menclicks span.backbtn img, .mobilemene ul li.menclick span.backbtn img{
    width: 12px;
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.certificationtick ul li {width: 48%;}

.certificationtick ul {
    width: 100%;
    margin: 0;
}
.mobilemene ul li.menclicks span img, .mobilemene ul li.menclick span img {
    width: 15px;
    transform: rotate(180deg);
    float: right;
    position: relative;
    top: 2vh;
    opacity: 0.5;
}
.mobilemene ul li span.backbtn {
    padding-left: 15px;
    font-size: 11px;
    display: inline-block;
    position: relative;
    opacity: 0.5;
}
        .gallery .slick-slider {width: 100%;}
        .gallery .slick-list, section {
            overflow: hidden;
        }
        .awardsbox {
            width: 23%;
            margin: 10px 3%;
        }
        
        .awardslogo {
            justify-content: center;
        }
        form {
            padding: 0;
        }
        .contactbox {
            padding-top: 25px;
            margin-top: 25px;
        }
        
        .form, .formstn{
            width: 100%;
            margin-top: 0;
        }
        
        .address.social.socialdesp, .address {
            width: 100%;
            border-bottom: solid 1px #ededed;
            padding-bottom: 25px;
            text-align: center;
        }
        
        .socialdesp .email li a {
            width: 100%;
        }
        
        .address.socialdesp .email li:before {
            left: 50%;
            transform: translate(-50%);
        }
        .togmenu ul li {
            padding: 5px 0;
            border-bottom: solid 1px #161616;
        }
        .proimg h4{
            margin:5px 0;
        }
        .centerit {
            text-align: left;
        }
        .gallery {
            padding-bottom: 50px;
        }
        .gallery .slick-slider button.slick-arrow.slick-next {
            right: 40%;
            top: inherit;
            bottom: -30px;
            width: 20px;
            height: 20px;
            border-radius: 100%;
            background-image: url(./images/bold-arrow.png);
            background-size: contain;
        }

.gallery .slick-slider button.slick-arrow.slick-prev {
    left: 40%;
    top: inherit;
    bottom: -30px;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-image: url(./images/bold-arrow.png);
    background-size: contain;
}
.gallery .homeslider:before{
    display: none;
}
.gallery .homeslider img{
    border: none;
}
.header.fixed .logo{
    padding: 0;
}        .banner img {
            height: 50vh;
            object-fit: cover;
        }
        .tabs.fixed {
            padding-top: 10px;
            top: 6vh;
            position: inherit;
        }
        .tabs ul li a {
            font-size: 10px;
        }
        .infraslider {
            width: 100%;
            float: left;
            margin-top: 15px;
            margin: 0;
        }
        
        .value {
            width: 100%;
            text-align: center;
            margin-top: 20px;
        }
        
        .ethoscont {
            text-align: center;
        }
        
        .ethoscont .col-md-6 h3 {
            text-align: center;
        }
        
        .ethoscont .col-md-6 p {
            width: 100%;
            float: left;
        }
        
        .ethoscont .col-md-6 ul li:before {
            left: 50%;
            transform: translate(-50%);
        }
        
        .leadershipbox {
            width: 100%;
        }
        
        
        .aboutcont, .aboutslider, .productcont, .epc-img, .epc-cont, .quotebox, .sustainleft, .sustainrght {
            width: 100%;
        }
        
        .aboutstn, .sustainbox {
            flex-wrap: wrap;
        }
        
        .aboutcont, .productcont, .epc-img {
            margin-bottom: 50px;
        }
        
        .largecircleleft, .largecircleright {
            width: 120px;
            height: 120px;
        }
        
        .productsbox,        
        .epcrow  {
            flex-wrap: wrap;
        }
        
        .productcont p {
            min-height: auto;
        }        
        .quotebox {
            height: auto;
            padding: 50px;
        }
        
        .social {
            width: 50%;
            margin-bottom: 40px;
        }
        .social:nth-child(3), .sftrrow.justify-content-between {
            width: 100%;
        }
        
        .sftrrow.justify-content-between {
            margin-bottom: 0px;
        }
        .epc-cont{
            margin-top: 50px;
        }
        .sitemapbox {
            width: 30%;
            margin-bottom: 25px;
        }
        .epc-img img {
            width: 90%;
            right: -50px;
            top: 50px;
        }
        .jslider .slick-dots, .jslider:before, .jslider::after, .projects .largecircleright{
            display: none !important;
        }
        .aboutslider {
            width: 70%;
            margin: 0px auto;
        }
        .togmenu ul li a, .toplinks li a, .toplinks li span, .togmenu ul li span {
            font-size: 18px;
            line-height: 40px;
        }
        .sftrrow{
            padding: 0;
        }
        .social {
            margin-bottom: 20px;
        }
        .videostn .numberbanner::before{
            opacity: 0;
            display: none;
        }
        .header.fixed{
            padding: 10px 0;
        }
        .overview, .infrastructure p, .col-md-12.ethoscont, .careerbox, .specification {
            width: 100%;
        }
        
        #overview .midcircleright {
            right: 0;
        }
        
        .overview p {
            text-align: center;
        }
        .infrabox .smallcirclerightdarkleft {
            left: inherit;
            right: 5%;
        }
        .accordion .accordion-item.active .panel {
            height: auto;
        }
        
        .accordion .accordion-item.active .panel {
            max-height: inherit;
        }
        .clintellestn ul li {
            padding: 10px;
            width: 22%;
        }
        .content {
            margin-bottom: 25px;
        }
        
        .banner .homcolft.position-absolute.position-right.left, .banner .homcolft.position-absolute.position-right {
            top: 50%;
            bottom: inherit;
        }
        .homcolft {
            top: inherit;
            bottom: 10%;
            width: 80%;
        }
        .homcolrt img {
            object-fit: cover;
            object-position: center;
           height: auto;
        }

.powerplant.underconst p {
    font-size: 15px;
    line-height: 22px;
}
.powerplant.underconst {
    margin-top: 70px;
}
.grievancebox h3 {
    padding: 0 20px;
}

.grievanceform ul li, .formstn .firstrow:nth-child(2) ul li {
    width: 44%;
    margin: 0 3% 20px;
}

.grievanceform ul li.width100 {
    width: 100%;
}

.grievancestrip, .formstn  {
    margin-bottom: 25px;
}
.smap {
    width: 100%;
    margin: 0;
}
.sitembox {
    width: 100%;
}

.smap {
    flex-wrap: wrap;
}
.technologybanner{
    background-attachment: inherit;
    background-image: url(./images/technology.jpg);
}
.gallery button.slick-arrow.slick-prev, .gallery button.slick-arrow.slick-next{
    background-image: url('./images/arrow.png');
}
.react-tabs .gallery{
    overflow: visible;
}
.infragallery.pb-0 {
    padding-bottom: 50px !important;
}
.subhead {
    font-size: 15px;
    line-height: 20px;
    margin: 0;
}

.infracenter .infraslider {
    margin-top: 0;
}
.warranty {
    width: 90%;
}
.packdetails ul li span:nth-child(1) {
    width: 50%;
}

.packdetails ul li span {
    width: 20%;
}
    }
    @media (max-width:500px){
        .footerrow {
            padding: 0 15px;
        }
        .certificationtick ul li {
            width: 100%;
            margin: 5px 0;
        }
        .footer {
            padding-top: 15px;
        }
        .proimg {
            width: 46%;
            margin: 15px 2%;
        }
        .careerbox ul {
            width: 100%;
            float: left;
        }
        .certificationimg{
            margin-top: 25px;
        }
        .currentopening .accordion-item.active {
            height: unset;
        }
        
        .accordion-item, .accordion-item.active {
            height: auto;
        }
        .tabs ul li a {
            padding-right: 20px;
            margin-right: 20px;
        }
        .scrollingsection .count {
            padding: 0;
        }
        .tabs ul {
            flex-wrap: wrap;
        }

        .largecircleleft, .largecircleright{
            width: 70px;
            height: 70px;   
        }
        .products .midcircleleft {
            top: 40px;
        }   
        .aboutslider{
            width: 100%;
        }
        .numbers::before, .products:before{
            height: 50px;
            width: 80px;
        }
        .epcrow:before{
            width: 200px;
            height: 200px;
        }
        .productsbox{
            margin-bottom: 0;
        }
        #epc-solution {
            padding: 0;
        }
        .powerplant h4 {
            width: 70%;
            font-size: 21px;
            line-height: 30px;
        }
        .powerplant {
            max-width: 100%;
            padding: 25px;
            padding-top: 35px;
        }
        .powerplant p{
            line-height: 20px;
        }
        .quotebox{
            margin-left: 0;
            margin-right: 0;
        }
        .socialicon {
            height: 50px;
        }   
        .social, .social:nth-child(3) {
                margin-bottom: 15px;
            margin-left: 0;
            margin-right: 0;
            border-bottom: solid 1px #565656;
            padding-bottom: 15px;
        }
        .social:nth-child(4) {
            border-top: 0;
        }
        .newaddress li {
            width: 48%;
        }
        
        .hemburgur span:nth-child(2) {
            top: 10px;
        }
        
        .hemburgur span:nth-child(3) {
            top: 22px;
        }
        .socialdesp, .socialdesp .email li a {
            width: 100%;
        }
        .sitemapbox {
            width: 50%;
        }

        
        .copyrights {
            flex-wrap: wrap;
            border-top: solid 1px #565656;
            width: 100%;
            padding: 10px 0;
        }
        .logo {
            width: 100%;
            float: left;
        }
.togmenu ul li a, .toplinks li a, .toplinks li span, .togmenu ul li span {
    font-size: 16px;
    line-height: 30px;
}
.mdquote h4 {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 20px;
}

.overview, .sustainbox {
    width: 100%;
}

.purpose, .sustainbox {
    margin: 0;
}

.purpose p {
    font-size: 12px;
    line-height: 17px;
}

.journeyslider .slick-slide:nth-child(odd) .jsliderbox:before {
    display: none;
}

.journeyslider .slick-slide:nth-child(even) .jsliderbox:before {
    display: none;
}

.jslidercont {
    min-height: auto;
}
.numbers::before, .products:before {
    width: 80px;
    height: 10px;
}
.overview {
    text-align: center;
}
.journeyslider .slick-slide:nth-child(odd) {
    margin: 0;
}
.App {
    width: 46%;
    margin: 2%;
}
.App:before{
    display: none;
}

.infrastructure p {
    width: 100%;
    margin: 0;
}
.mdquote h4 {
    font-size: 21px;
    line-height: 28px;
    margin-bottom: 10px;
    letter-spacing: 0px;
}
.socialdesp li {
    margin: 4px 0;
}
.logo img {
    width: 200px;
}
.header {
    padding: 10px 0;
}
.homcolft h2 {
    font-size: 30px;
    line-height: 30px;
}
.col-9.a-center.d-flex.align-items-end.justify-content-end {
    align-items: center !important;
}
.logo img {
    position: static;
    transform: inherit;
}
.header.fixed .logo{
    padding: 0;
}
.social:nth-child(4) h5{
    margin-top: 0;
}
.newaddress li {
    width: 48%;
}
.bio {
    width: 100%;
    margin-top: 25px;
}

.leadershipimg img {
    height: auto;
    width: 100%;
}

.bio .leadershipimg {
    margin-right: 15px;
    width: 120px;
}

.leadername {
    border-width: 3px;
    padding-left: 10px;
}
.form li:nth-child(1), .form li:nth-child(2), .form li {
    width: 100%;
}

.address.social.socialdesp, .address {
    padding-bottom: 15px;
    margin-bottom: 15px;
    text-align: left;
}

.address.socialdesp .email li:before {
    left: 0;
    transform: inherit;
}

.contactbox h2 {
    text-align: left;
}
.certificates ul li, .clintellestn ul li {
    width: 28%;
}
.homemanage .countnum {
    font-size: 40px;
    height: auto;
}
.homemanage .App {
    width: 40%;
    margin: 0 5% 30px;
}
.homemanage .count {
    justify-content: space-between;
}
.homemanage .App {
    margin-bottom: 30px;
}
.homemanage .labelcont {
    margin-top: 15px;
}
.homemanage .App:last-child {
    margin-bottom: 0;
}
.newscontent h5 {
    font-size: 20px;
    line-height: 30px;
}
.news {
    margin-bottom: 35px;
}
.newslider .powerplant {
    padding: 40px 20px;
}
.grievancestrip {
    flex-wrap: wrap;
}

.grievancebox {
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.grievancebox ul {
    display: inline-block;
    width: 100%;
    text-align: center;
}

.grievancebox ul li {
    text-align: center;
    width: 100%;
    float: left;
}

.grievancebox ul li a {
    width: 100%;
}

.grievanceform ul li, .formstn .firstrow:nth-child(2) ul li {
    width: 100%;
    margin: 0 0 15px 0;
}

.grievanceform h3 {
    font-size: 24px;
    line-height: 26px;
    margin: 15px 0;
}
body {
    border-left: solid 10px #fff;
    border-right: solid 10px #fff;
    font-size: 14px;
}
.scrollingsection .web-container {
    width: 100%;
    margin: 0;
    padding: 0;
}
.react-tabs__tab-panel iframe {
    height: 300px;
}
.modulesrely .col-md-3.col-xs-12 {
    margin-top: 0;
}
.modulesolr {
    margin-bottom: 25px;
}
.certificationimg img {
    width: 200px;
}
.warranty {
    display: grid;
}

.warrantybox {
    width: 100%;
    margin-bottom: 15px;
    justify-content: stretch;
}

.infracont .warrantybox h3 {
    width: auto;
}

.infracont .warrantybox h4 {
    width: auto;
    margin-left: 3%;
}
.packdetails h4 {
    font-size: 14px;
    line-height: 30px;
}

.packdetails ul li span {
    font-size: 13px;
    line-height: 18px;
}
.certifications {
    padding: 25px 0;
}

.packdetails ul li span {
    font-size: 13px;
    line-height: 18px;
}

.certifications {
    padding: 25px 0;
}

.qualitylogo ul li {
    margin: 5px;
}

.qualitylogo ul li {
    width: 30%;
}

.qualitylogo ul li img {
    width: 100%;
}

.qualityhead h4 {
    font-size: 19px;
    line-height: 26px;
}

.qualitylogo {
    border: solid 1px #1f69ad;
}

.certificationtick ul li {margin: 0;padding-left: 30px;}

.certificationtick ul li:before {
    top: 12px;
    width: 25px;
    height: 20px;
}
.awardsbox{
    width: 40%;
}
    }
@media (max-width:420px){
    .scrollingsection .count {
        padding: 0;
    }
    .modulesrely .col-md-5.col-xs-12 {
        width: 90%;
    }
    .packdetails ul li span {
        font-size: 12px;
        line-height: 14px;
    }
.news .powerplant ul.slick-dots{
    margin-top: 10px;
}
    .form li:last-child button.btn-4 {
        width: 100%;
    }
    .countnum {
        font-size: 24px;
        line-height: 28px;
    }
    .web-container {
        width: 100%;
    }
    .labelcont {
        margin-top: 0;
    }

    .newaddress li, .socialdesp .newaddress li{
        width: 100%;
        margin: 10px 0;
    }
    .sitemapbox ul li{
        font-size: 11px;
    }
    .socialdesp ul.newaddress li span strong{
            font-size: 14px;
            line-height: 20px;
    }
    .numbers::before, .products:before {
        width: 50px;
        height: 20px;
    }
    
    h3, .heading2 {
        font-size: 28px;
        line-height: 30px;
        letter-spacing: 0.5px;
        margin-bottom: 10px;
    }
    
    .title {
        margin-bottom: 10px;
    }
    
    .midcircleleft, .midcircleright {
        width: 12px;
        height: 12px;
    }
    
    .producthimg img {
        width: 200px;
        height: 200px;
    }
    
    .epcrow:before {
        width: 100px;
        height: 100px;
    }
    
    .epc-img img {
        top: 20px;
        right: -20px;
    }
    

    
    .powerplant h4 {
        padding-left: 0;
        padding-right: 0;
    }
    
    .quotebox {
        padding: 40px;
        margin-bottom: 20px;
    }
    
    .quotebox h4 {
        font-size: 17px;
    }
    
    .quotebox p {
        font-size: 14px;
        line-height: 18px;
    }
    
    .techspecification, .nriaccordian, .contactus, .leadership, .numbers, .journeyslider, #our-journey, .ethosbanner, .our-ethos, .infragallery, #infrastructure, section, .numberbanner, .count, .technologybanner, footer, .footer, .mdquote, .infrabox {
        padding: 25px 0;
    }
    
    .ftrlogo {
        padding-bottom: 15px;
        margin-bottom: 15px;
    }
    
    .ftrlogo img {
        width: 60%;
    }
    
    .social, .social:nth-child(3) {
        margin-left: 0;
        margin-right: 0;
    }
    
    .copyrights {
        width: 100%;
        padding-bottom: 0;
    }
    
    .socialdesp li p {
        margin: 0;
    }
    
    .proimg a {
        width: 100%;
    }
    .copyrights ul li a, .copyrights ul li {font-size: 9px;}
    
    .powerplant p {
        margin-bottom: 0;
    }
    .sustainleft {
        margin-bottom: 25px;
    }
    h1 {
        font-size: 36px;
        line-height: 36px;
    }
    .largecircleleft {
        left: inherit;
        right: 0;
        top: -20px;
    }   
    .social, .social:nth-child(3) {
        margin-bottom: 15px;
        padding-bottom: 15px;
    }
    .mobilemene ul li a, .mobilemene ul li span {
        font-size: 16px;
        letter-spacing: 2px;
        line-height: 40px;
    }
    
    .react-tabs__tab-panel iframe {
        height: 250px;
    }
    .infragallery ul li{
        margin: 0 10px;
    }
    .purpose{
        width: 60%;
    }
    .infracenter{
        margin: 25px 0;
    }
}
@media (max-width:380px){
    .preinfo, .typesmodule .infracenter:nth-child(even) .preinfo {
        margin-bottom: 15px;
        padding-bottom: 15px;
    }
    .packdetails ul li span {
        padding: 2px;
        font-size: 9px;
        line-height: 14px;
    }
    .infracont .warrantybox h4 {
        font-size: 16px;
        line-height: 16px;
    }
    .infracont .warrantybox h3 {
        font-size: 28px;
        line-height: 36px;
    }
    .packdetails h4 {
        font-size: 12px;
        line-height: 26px;
    }
    .infracont.gredientbox {
        padding: 40px 0;
    }
    .homcolft h2 {
        font-size: 26px;
        line-height: 28px;
    }
    .ethoscont .col-md-6 p, .ethoscont .col-md-6 ul li{
        font-size: 13px;
    }
    .corefeature h5, .infotitle h5 {
        font-size: 14px;
    }
    
    .infracont h4, .infracont h3 {
        font-size: 12px;
    }
    
    .preinfo, .typesmodule .infracenter:nth-child(even) .preinfo {
        width: 90%;
    }
    
    .modulesrely .col-md-3.col-xs-12 {
        width: 100%;
        margin: 10px 0;
    }
    
    .certifications h5 {
        font-size: 12px;
        line-height: 20px;
    }
    .proimg {
        width: 100%;
        margin-right: 0;
    }
    
    .react-tabs__tab-panel iframe {
        height: 200px;
    }
    .labelcont {
        font-size: 8px;
        line-height: 12px;
    }
    .tabs ul {
        padding-left: 0;
        padding-right: 0;
    }
    .footer {
        padding-bottom: 0;
    }
    .logo img {
        width: 150px;
    }
    .hemburgur span, .hemburgur span:nth-child(2), .hemburgur span:nth-child(3) {
        height: 3px;
        width: 3px;
    }
    .hemburgur span:nth-child(2) {
        top: 8px;
    }
    .awardsbox {
        width: 44%;
    }
    .hemburgur span:nth-child(3) {
        top: 17px;
    }
    .numbers::before, .products:before {
        top: -25%;
    }
    .corefeature {
        width: 90%;
    }
    
    .typesmodule .infracenter:nth-child(even) .infracont.gredientbox:before {
        left: 0;
    }
    .mdquote h4:before, .mdquote h3:before {
        width: 120px;
        height: 120px;
    }
    .hemburgur {margin-top: 10px;}
    .mobilemene ul li a, .mobilemene ul li span {
        font-size: 13px;
        letter-spacing: 1px;
        line-height: 30px;
    }
    .mobilemene ul li.menclicks span img, .mobilemene ul li.menclick span img{
        width: 10px;
    }
}
@media (max-width:320px){
    .homcolft h2 {
        font-size: 22px;
        line-height: 24px;
    }
}